/******************************************************************** GENERAL CSS*/
@import url(https://fonts.googleapis.com/css?family=ABeeZee);
html {
  color: white;
  font-family: 'ABeeZee';
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #990100;
  overflow-x: hidden;
  font-size: 160%;
}

nav.transp{
  background-color: transparent;
  box-shadow: none;
}

header {
  border-bottom: 5px solid #F9D423;
  background-color: #d3874a;
}

div.main h2 {
  letter-spacing: .2em;
}

div.main p {
  margin: 0;
}
/******************************************************************** GENERAL CSS*/


/******************************************************************** MAIN DIVISION*/
div.main {
  margin: 0;
  padding: 0;
  position: relative;
  height: 3em;
}
/******************************************************************** MAIN DIVISION*/

/******************************************************************** TAGLINES*/
div.main div#mainHeader{
  margin-top: 0.5em;
}

div.main div.taglinePlaceholder {
  position: relative;
  padding:0 1em; 
}

div.main p.tagline {
  letter-spacing: 0.18em;
  font-size: 0.72em;
}

div.main p#secondTagline {
  margin-top: 1.77em;
}
/******************************************************************** TAGLINES*/

/******************************************************************** CHOICE HEADER*/
div.main div#choiceHeaderPlaceholder {
  margin-top: 3em;
  margin-bottom: 0;
  width: 80%;
  position: relative;
}

div.main p.boldText {
  font-weight: light;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}

div.main p.lightText {
  font-weight: light;
  font-size: 0.7em;
  letter-spacing: 0.05em;
}

@media only screen and (max-width: 1100px){
  div.main p.lightText {
    font-size: 0.7em;
  }   
}
@media only screen and (max-width: 900px){
  div.main p.lightText {
    font-size: 0.6em;
  }   
}
/******************************************************************** CONTENT*/
div.main div#content {
  position: relative;
  margin-top: 0.6em;
  width: 80%;
  padding: 0.2em;
}
/******************************************************************** LEFT SIDE*/

div.main div#content img#formLogo{
  width:3.5em;
  height:3.5em; 
}
@media only screen and (max-width: 1100px){
  div.main div#content img#formLogo{
    width:3.5em;
    height:3.5em; 
  }   
}
@media only screen and (max-width: 900px){
  div.main div#content img#formLogo{
    width:3.5em;
    height:3.5em; 
  }   
}
/******************************************************************** RIGHT SIDE*/

div.footer {
  position: fixed;
  border-top: 10px solid #F9D423;
  bottom: 0;
  height: 10vh;
  width: 100%;
  background-color: #d3874a;
}

div.normal{
  width: 80%;
  height: 4.98em;
}

textarea#recipe{
  max-height: 15em;
}

div.box{
  background-color: rgba(0, 55, 50, .2);
}









